@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Navbar */
a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

body {
  margin: 0;
}

nav {
  background-color: #26292B;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li,
img {
  margin-right: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  color : white;
}

nav ul li .active {
  color: #A2B2EE;
}

.nav-left {
  flex: 100%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: #A2B2EE;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

/* Blog Detail */
.blog-detail {
  background-color: #ebeaea;
  padding: 20px 0px;
  margin: 20px 10px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.blog-detail h1 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

.left-header img {
  width: 800px;
  height: 500px;
}

.right-header {
  margin-right: 200px;
  width: 250px;
}
.header-detail {
  margin: 0 20px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.duration i {
  margin-right: 10px;
  font-size: 25px;
  margin-top: 5px;
}

.duration p {
  font-size: 15px;
}

.technologi {
  margin-top: 10px;
}

.technologi i {
  margin-right: 10px;
  font-size: 25px;
  margin-top: 5px;
}

.icon {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.paragraph {
  margin-top: 10px;
  padding: 10px 50px;
}

.paragraph p {
  font-size: 18px;
  text-align: justify;
}

#barsmenu {
  display: none;
}

.hamburger {
	display: none;
}

.hamburger a {
	color: #000;
}

.hamburger-nav-container {
  font-size: 20px;
  list-style-type: none;
  background-color: #dbdbdb;
  padding-bottom: 15px;
	padding-top: 15px;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  color: #a2b2ee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.burger-contact  {
  background-color: #a2b2ee;
	margin: 0px auto;
	width: 200px;
	text-align: center;
	padding: 0px 50px;
	color: white;
	border-radius: 10px;
}

.burger-contact:hover {
  background-color: #26292b;
}

@media only screen and (max-width: 900px) {
  .blog-detail {
    width: 95%;
    margin: 20px auto;
  }

  .header-detail {
    flex-direction: column;
  }

  .left-header img {
    width: 670px;
    height: 450px;
  }
  
  .right-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-collapse {
		display: none;
	}

  #barsmenu {
		display: block;
	}
}

@media only screen and (max-width: 550px)  {
  .blog-detail {
    width: 95%;
    margin: 20px auto;
  }

  .header-detail {
    flex-direction: column;
    margin: 0 20px ;
    padding: 10px;
  }

  .left-header img {
    width: 310px;
    height: 200px;
    margin: 0;
    padding: 0;
  }

  .right-header {
    display: contents;
  }

  .paragraph {
    margin-top: 0;
    padding: 20px;
  }

  .item-collapse {
		display: none;
	}

  #barsmenu {
		display: block;
	}
}